body{
    background-color: aquamarine;
    margin: auto;
}


.navbar{
    display: flex;
    list-style: none;
    font-size: 1em;
    margin-top: 0;
    height: 100%;
    width: 100%;
}


.grid-wrapper{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    transition: all 0.9s;
    width: 100%;
    padding: 5;

}

.box > img{
    width: 100%;
}

.grid-wrapper:hover{
    transform: scale(1.1);
}

footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: rgb(8, 107, 150);
    text-align: center;
}

