.row.img{
    width: 400px;
    height: 250px;
    margin: 20px;
    transition: all 1s;
}

.row img:hover{
    transform: scale(1.1);
}

footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: rgb(8, 107, 150);
    text-align: center;
}

