body{
    background-color: aquamarine;
    margin: auto;
}

.container{
   display: grid;
   grid-template-columns: repeat(3, 4fr);
}

img{
    width: 380px;
    height: 350px;
    margin: 5px;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    .container{
        font-size: 0.4em;
        padding: 0;
    }
    
    footer{
        font-size: 0.4em;
        text-align: center;
    }
}

footer{
    clear: both;
    text-align: center;
}